# Python cache
__pycache__/

# Tests cache
.pytest_cache/

# Vscode settings
.vscode/

# Ignore enviromental vars (contains private information)
.env

# Ignore intellij Files
.idea

# Ignore spyder Files
.spyproject/
