[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
psutil = "==5.7.0"
requests = "==2.23.0"
aiohttp = "==3.6.2"
beautifulsoup4 = "==4.9.1"
discord = "==1.0.1"
markdownify = "==0.4.1"
stackexchange = "==0.5.0"
tabulate = "==0.8.7"
GPUtil = "==1.4.0"
flake8 = "*"

[requires]
python_version = "3.8.3"

[scripts]
lint = "pre-commit run --all-files"
precommit = "pre-commit install"
